*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    color: #636363;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1200px;
}
/* start header */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header__content{ 
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    margin-right: 30px;
}
.header__content li{
    padding:50px 15px;
}
li{
    list-style: none;
}
.header__content li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.header__content span{
    display: inline-block;
}
.header__content i{
    font-size: 9px;
    margin-top: -3px;
    
}
.header__content a span {
    display: inline-block;
    transition: all 0.5s;
}
.header__content a:hover {
    color: #f55f8d;
}
.header__content a:hover span {
    animation: upToDown 0.3s;
}
  
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
}
.btn-grad{
    background-image: linear-gradient(
    to right,
    #f55f8d 0%,
    #f8ae56 51%,
    #f55f8d 100%);
    margin: 10px;
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    border: none;
    background-size: 200%;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: block;
    cursor: pointer;
}

.btn-grad:hover {
  
    background-position: right center;

    color: #fff;
    text-decoration: none;
    z-index: 1;
}
/* start carousel */
.carousel{
    /* padding-top: 180px; */
    overflow: hidden;
    background-image: url(./Samar/pic2.png);
    width: 100%;
    background-position: top;
    background-size: 100%;
    
}
.carousel__content{
    padding-top: 180px ;
    display: flex;
    align-items: center;
}
.left__content{
    width: 60%;
}
.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
    text-align: center;
}
.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    color: #262626;
    margin-bottom: 20px;
    text-align: center;
}
.carousel__content li{
    padding: 10px 5px 10px 0;
    font-size: 20px;
    list-style: none;
    
}
.carousel__article i{
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 900;

    background-image: linear-gradient(
    to right,
    #f55f8d 0%,
    #f8ae56 51%,
    #f55f8d 100%);
    border: none;
    border-radius: 50%;
    background-size: 200%;
    margin-right: 10px;
}
.right__content{
    width: 40%;
}
/* start services */
.services{
    padding-bottom: 0px;
    background-image: url(./Samar/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.services__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;

}
.section-inner{
    padding-top: 115px;
}
.services__item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all .5s;
}
.services__item:hover {
    transform: translateY(-20px);
}

.services__item img{
    width: 80%;
}
/* start introduce */
.introduce{
    background-image: url(./Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}
.intro__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.intro__left{
    width: 60%;
    position: absolute;
    left: -17%;
}
.intro__left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.intro__right{
    width: 50%;
}
.intro__right ul{
    margin-bottom: 30px;
}
.intro__right li{
    font-size: 16px;
}
.btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
.btn-gradient:hover {
    background-position: right center;
}
.intro__right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}
/* start number */
.number {
    background-image: url(./Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}
.number__content {
    display: flex;
    justify-content: space-around;
}
.number__item {
    width: 25%;
}
.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__item p:first-of-type {
    font-size: 65px;
    font-weight: 650;
    color: #f55f8d;
    line-height: 1;
}.number__item p:last-of-type {
    color: #262626;
    font-size: 18px;
}
/* start features */
.features__content {
    display: flex;
}
.features__left, .features__right {
    width: 50%;
}
.features__item {
    padding: 0 50px 30px 0;
    position: relative;
}
.features__item div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}
.features__item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}
.features__bg {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.features__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 1.5rem;
    transition: all 0.5s;
}
.features__item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}
.features__bg::after{
    content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  
}
.features__bg:hover::after{
    opacity: 1;
}
.features__bg:hover i,.features__bg:hover p, .features__bg:hover h3{
    color: white;
}
.features__banner {
    margin-right: -80px;
}
.features__banner img {
    max-width: 100%;
    animation: move2 5s infinite;
}
@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}
/* start porfolio */
.portfolio {
    background-image: url(./Samar/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.portfolio__content {
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}
.portfolio__content .portfolio__item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio__item img {
    width: 100%;
    height: 100%;
}
.portfolio__item1 {
    grid-column: 1/span 2;
}
.portfolio__item5 {
    grid-column: 1/span 2;
}
.portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio__overlay {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .75s;
}
.portfolio__item:hover .portfolio__overlay{
    opacity: 1;
}
.portfolio__icon{
    position: absolute;
    top: 20px;
    right: 20px;
}
.portfolio__icon i {
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
}
.portfolio__item:hover .portfolio__icon i{
    transform: translateY(0);
}
.portfolio__icon i:hover{
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #eee;
}
.portfolio__icon a {
    cursor: pointer;
}
.portfolio__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}
.portfolio__text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}
.portfolio__text p {
    color: #fff;
    opacity: .7;
}
.portfolio__item:hover .portfolio__text{
    transform: translateY(0);
}
.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}
.portfolio__item:hover::before {
    left: 125%;
}
/* start planing */
.plan {
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.plan__content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 30px;
}
.plan__item {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
}
.plan__item:hover {
    border-image: url(./Samar/br.png) 1 round;
}
.plan__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.plan__item img {
    width: 125px;
}
.plan__item li, .plan__item p {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.plan__item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 700;
}
.plan__item ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}
.plan__item li {
    padding: 5px 0;
    font-weight: 400;
}
.plan__item i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
/* start testimonial */
.testimonial {
    text-align: center;
    background-image: url(./Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center; 
}
 
.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}
.testimonial-comment {
    
    width: 100%;
    overflow: hidden;
}
.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
    height: auto;
}
.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}
  
.testimonial-pic::before{
    height: 15px;
    width: 15px;
    bottom: 30px;
}


  
.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
  }
  .testimonial-pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
}
.testimonial-pic::after{
    height: 10px;
    width: 10px;
    bottom: 0;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx,.swiper-slide-thumb-active .testimonial-pic::before,.swiper-slide-thumb-active .testimonial-pic::after{
    opacity: 1;
}
.testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    transition: all 1s;
    background-color:#f55f8d;
}
.testimonial-pic::after, .testimonial-pic::before{
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
  
.testimonial-text {
    padding: 60px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.testimonial-text i{
    color: #f55f8d;
    font-size: 70px;
    position: absolute;
    top: 10px;
    left: 30px;
    transform: rotate(-180deg);
}
.testimonial-name{
    font-size: 22px;
    font-weight: 700;
    color: #262626;
    line-height: 26px;
    margin-bottom: 5px;
}
.testimonial-position{
    font-size: 15px;
    color: #f55f8d;
    padding: 0;
}
.testimonial-text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
    margin-top: 20px;
}
 
.swiper-pagination-bullet-active {
    background: #f55f8d;
    margin-bottom:100px ;
}
/* start blog */
.blog {
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
    
}
.owl-carousel{
    overflow: hidden;
}
.blog-item {
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
    width: 100%;
    
}

.blog-header {
    position: relative;
}
.blog-header img {
    width: 100%;
    border-radius: 8px;
    display: block;
}
.blog-header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog-body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog-body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog-footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
    
}
.blog-footer p:first-of-type {
    margin-right: 20px;
}
.blog-footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog-footer p:first-of-type span {
    color: #f55f8d;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/*start footer */
footer {
    background-image: url(./Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before {
    content: "";
    background-image: url(./Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer-top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer-form, .footer-text {
    width: 50%;
}
.footer-text h2 {
    font-size: 28px;
    color: #262626;
}
.footer-form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer-form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}
.footer-form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer-bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer-item {
    width: 25%;
}
.footer-item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
    cursor: pointer;
}
.footer-item li {
    padding: 0.5rem 0;
}
.footer-contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.footer-item i {
    font-weight: 700;
    margin-right: 10px;
}
.footer-contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer-item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer-item h3::after, .footer-item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer-item h3::after {
    width: 45px;
    left: 20px;
}
.footer-copyright {
    background-color: #1f343b;
    padding: 10px auto;
    position: relative;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    
    
}
.footer-left span {
    color: #f55f8d;
}
.footer-bottom a{
    text-decoration: none;
}
.footer-copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
    text-decoration: none;
}

.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}
  
  